[submodule "Libraries/googletest"]
	path = Libraries/googletest
	url = https://github.com/google/googletest
[submodule "Libraries/doctest"]
	path = Libraries/doctest
	url = https://github.com/onqtam/doctest
